<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue command</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>v-bind</h3>
    <a v-bind:href="url">百度</a><br/>
    <a :href="url">百度2</a><br/>
    <hr/>


    <h3>v-model</h3>
    <input v-model="url"><br/>
    <hr/>


    <h3>v-on</h3>
    <input type="button" value="按钮1" v-on:click="show()">&nbsp;&nbsp;
    <input type="button" value="按钮2" @click="show()"><br/>
    <hr/>


    <h3>v-if</h3>
    <div v-if="count == 1"> div1</div>
    <div v-else-if="count == 2"> div2</div>
    <div v-else>div3</div><br/>
    <input type="text" v-model="count"><br/>
    <hr/>


    <h3>v-show</h3><!--相当于css的display:none-->
    <input v-model="count2">
    <div v-show="count2 == 1">show</div><br/>
    <hr/>


    <h3>v-for</h3>
    <div v-for="address in address">
        {{address}}
    </div>
    <hr/>
    <!--使用集合元素索引的方法-->
    <div v-for="(address, i) in address">
        {{i+1}}. {{address}}
    </div><br/>
    <hr/>

    </div>
</div>

</body>
<script>
    new Vue({
        el: "#app",
        // 绑定数据
        data() {
            return {
                username: "",
                url: "https://www.baidu.com",
                count: 1,
                count2: 3,
                address: ["北京", "上海", "广州", "深圳"]
            }
        },
        // 绑定方法
        methods: {
            show() {
                alert("拍了拍你...");
            }
        }
    })
</script>
</html>