<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    &lt;!&ndash; 配置过滤器 &ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>CustomFilter</filter-name>-->
<!--        <filter-class>com.omega.demo01.CustomFilter</filter-class>-->
<!--    </filter>-->

<!--    &lt;!&ndash; 配置过滤器拦截路径 &ndash;&gt;-->
<!--    <filter-mapping>-->
<!--        <filter-name>CustomFilter</filter-name>-->
<!--        &lt;!&ndash;拦截全部请求&ndash;&gt;-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

<!--    <filter>-->
<!--        <filter-name>CustomFilterConfig</filter-name>-->
<!--        <filter-class>com.omega.demo02.CustomFilterConfig</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>ip</param-name>-->
<!--            <param-value>192.128.66.66</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>hobby1</param-name>-->
<!--            <param-value>basketball</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>hobby2</param-name>-->
<!--            <param-value>football</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>CustomFilterConfig</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->


    <filter>
        <filter-name>TopicFilter</filter-name>
        <filter-class>com.omega.scenario.TopicFilter</filter-class>
        <init-param>
            <param-name>forbiddenWords</param-name>
            <param-value>苹果,香蕉</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>TopicFilter</filter-name>
        <url-pattern>/scenario/*</url-pattern>
    </filter-mapping>
</web-app>